@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.container {
  position: relative;
  z-index: 0;
  height: 200vh;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 25%;
  display: flex;
  align-items: center;
  max-width: 56rem;
  margin: 0 auto;
  padding: 5rem 0;
  background-color: transparent;
}

.text {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  font-size: 1.875rem;
  font-weight: 700;
  color: rgba($text, 0.2);
  
  @include md {
    padding: 2rem;
    font-size: 1.875rem;
  }
  
  @include lg {
    padding: 2.5rem;
    font-size: 2.25rem;
  }
  
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 3rem;
  }
}

.word {
  position: relative;
  margin: 0 0.25rem;
  
  @include lg {
    margin: 0 0.625rem;
  }
  
  @media screen and (min-width: $breakpoint-xl) {
    margin: 0 0.75rem;
  }
}

.wordShadow {
  position: absolute;
  opacity: 0.3;
}

.wordHighlight {
  color: $text;
}
